{% extends 'main.html' %}
{% block content %}

<!-- Main Section -->
<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="inbox__title">New Messages(<span>{{unreadCount}}</span>)</h3>
    <ul class="messages">
      {% for message in messageRequests%}
        <!-- 判斷訊息是否讀取 -->
        {% if message.is_read == False %}
          <li class="message message--unread"> <!-- 沒讀字體為黑 -->
        {% else %}
          <li class="message"><!-- 有讀字體為灰 -->
        {% endif %}
            <a href="{% url 'message' message.id %}">
              <span class="message__author">{{message.name}}</span>
              <span class="message__subject">{{message.subject}}</span>
              <span class="message__date">{{message.date_posted}}</span>
            </a>
          </li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock content %}